html {
  font-size: 10px;
  background: linear-gradient(#3f88c5, #393e41, #44bba4);
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.key {
  transition: all 0.07s ease;
  border: 0.4rem solid #393e41;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  width: 10rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: #fafdf6;
  text-shadow: 0 0 0.5rem #393e41;
  user-select: none;
}

.key:hover {
  border-color: #e94f37;
  box-shadow: 0 0 1rem #e94f37;
}

.playing {
  transform: scale(1.1);
  border-color: #e94f37;
  box-shadow: 0 0 1rem #e94f37;
}

.playing > kbd {
  color: #e94f37;
  text-shadow: 0 0 1rem #e94f37;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #e94f37;
}
